<launch>
    <!-- Default arguments -->
    <arg name="droneID1" default="falcon1"/>
    <arg name="droneID2" default="falcon2"/>
    <arg name="endAngleDegrees" default="90"/>
    <arg name="targetX" default="2.0"/>
    <arg name="targetY" default="2.0"/>
    <arg name="targetZ" default="1.0"/>
    <arg name="targetYaw" default="0.0"/>
    <arg name="targetTime" default="10.0"/>
    <!-- Node for Command-->
    <!-- Include the takeoff launch file -->
    <!-- <include file="$(find drone_controller)/launch/takeoff_2_drones.launch" /> -->
    <!-- After takeoff, initiate the position control -->
    <group ns="BEP">
        <node name="Position_bar_turn_and_move_node"
              pkg="drone_controller"
              type="Position_bar_turn_and_move_node"
              output="screen">
            <param name="droneID1" value="$(arg droneID1)"/>
            <param name="droneID2" value="$(arg droneID2)"/>
            <param name="endAngleDegrees" value="$(arg endAngleDegrees)"/>
            <param name="targetX" value="$(arg targetX)"/>
            <param name="targetY" value="$(arg targetY)"/>
            <param name="targetZ" value="$(arg targetZ)"/>
            <param name="targetYaw" value="$(arg targetYaw)"/>
            <param name="targetTime" value="$(arg targetTime)"/>
        </node>
    </group>
</launch>
