<launch>
    <!-- Default arguments -->
    <arg name="drone_name_1" default="falcon1"/>
    <arg name="drone_name_2" default="falcon2"/>

    <!-- Node forTakeoff-->
    <group ns = "BEP">
        <node name="takeoff"
            pkg="drone_controller"
            type="takeoff_node"
            output="screen">
            <param name="drone_name_1" value="$(arg drone_name_1)" />
            <param name="drone_name_2" value="$(arg drone_name_2)" />
        </node>
    </group>
</launch>

