<launch>
    <!-- Default arguments -->
    <arg name="drone_id1" default="falcon"/>
    <arg name="drone_id2" default="$(arg drone_id1)1"/> 
    <arg name="drone_name_1" default="f$(arg drone_id1)"/>
    <arg name="drone_name_2" default="$$(arg drone_id2)"/>
    <arg name="Mid_x" default="1.0"/>
    <arg name="Mid_y" default="1.0"/>
    <arg name="Mid_z" default="0.5"/>
    <arg name="Mid_yaw_end" default="0.0"/>
    <arg name="kp" default="0.1"/>
    <arg name="ki" default="0.0"/>
    <arg name="kd" default="0.0"/>
    <arg name="etha_yaw" default="10"/>
    <arg name="etha_translation" default="0.05"/>
    <arg name="begin_yaw" default="0.0"/> <!-- New argument -->

    <arg name="simulation" default="true"/>

    <!-- Node for Command-->

    <group ns="BEP">
        <node name="Velocity_turn_and_move_node"
              pkg="drone_controller"
              type="Velocity_turn_and_move_node"
              output="screen">
            <param name="drone_id1" value="$(arg drone_id1)"/>
            <param name="drone_id2" value="$(arg drone_id2)"/>
            <param name="Mid_x" value="$(arg Mid_x)"/>
            <param name="Mid_y" value="$(arg Mid_y)"/>
            <param name="Mid_z" value="$(arg Mid_z)"/>
            <param name="Mid_yaw_end" value="$(arg Mid_yaw_end)"/>
            <param name="kp" value="$(arg kp)"/>
            <param name="ki" value="$(arg ki)"/>
            <param name="kd" value="$(arg kd)"/>
            <param name="etha_yaw" value="$(arg etha_yaw)"/>
            <param name="etha_translation" value="$(arg etha_translation)"/>
            <param name="begin_yaw" value="$(arg begin_yaw)"/> <!-- New parameter -->
            <param name="simulation" value="$(arg simulation)"/>
        </node>
    </group>
</launch>
